.navbar {
  -moz-transition: all 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100vw;
  background: transparent;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  text-align: center;
}

.navbar.stick.visible {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
}

.navbar.stick.hidden {
  top: -80px;
}
